.navbar {
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 2rem !important;
}

.nav-link,
.navbar-brand {
  color: blue !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: white !important;
}

.navbar,
.nav-color {
  background-color: #1effac !important;
}

.navbar-toggler,
.navbar-toggler-icon {
  color: white !important;
  border-color: white !important;
}
